<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqjtu.sc.admin.goods.db.dao.BriefGoodsMapper">
    <resultMap id="BriefGoods" type="com.cqjtu.sc.admin.goods.dto.BriefGoods">
        <id column="goods_id" jdbcType="INTEGER" property="id" />
        <result column="goods_name" jdbcType="VARCHAR" property="name" />
        <result column="price" jdbcType="DECIMAL" property="retailPrice" />
        <result column="url" jdbcType="VARCHAR" property="picUrl" />
    </resultMap>
  <select id="getBriefGoods" resultMap="BriefGoods">
        select
        t1.goods_id,t1.goods_name,t1.price,t2.url
        from all_goods_info t1,all_goods_specifi_img t2
        where t1.goods_id=t2.goods_id and t2.type=3
        <if test="list != null">
            and t1.goods_id in
            <foreach item="item" collection="list" separator="," open="(" close=")" index="">
                #{item}
            </foreach>
        </if>
    </select>


</mapper>
